<div class="profile-settings">
  <% @groups.each do |group| %>
    <%= link_to group_exercises_path(group.id), class: 'text-light text-decoration-none' do %>
      <div class="profile-setting-item">
        <div><%= group.icon %></div>
        <div class="group-name_date">
          <p><%= group.name %></p>
          <span><%= group.created_at %></span>
        </div>
      </div>
    <% end %>
  <% end %>
</div>