<div>
  <div class="allgroups-container">
    <div class="allgroups-dropdown"><%= nav_check_icon %></div>
    <%= check_groupindex_empty %>
  </div>
  <div class="group_add_new">
    <%= link_to "ADD NEW GROUP", new_group_path, class: 'group_new_btn text-decoration-none' %>
  </div>
</div>