<div class="profile-container">
  <div class="profile-name">
    <i class="fas fa-user-astronaut"></i>
    <p><%= @user.name %></p>
  </div>
  <div class="profile-settings">
    <div href="#" class="profile-setting-item">
      <i class="fas fa-volleyball-ball"></i>
      <p>All my exercises</p>
    </div>
    <div href="#" class="profile-setting-item">
      <i class="fas fa-skating"></i>
      <p>All my external exercises</p>
    </div>
    <div href="#" class="profile-setting-item">
      <i class="fas fa-futbol"></i>
      <p>All groups</p>
    </div>
  </div>
</div>