<div class="home-container" style="width: 90%;">
  <h1 class="home-title">Exerscan</h1>
  <div class="home-btns" style="width: 100%;">
    <%= link_to "LOG IN", login_path, class:"home-btn-blue", style:"width: 100%;" %>
    <%= link_to 'SIGN UP', new_user_path, class: 'text-decoration-none', style: 'color: #9a9fa5;' %>
  </div>
</div>