<div class="home-container d-flex flex-column mx-auto align-items-center justify-content-between" style="width: 90%;">
  <h1 class="my-auto">Exerscan</h1>
  <div class="home-btns d-flex flex-column align-items-center" style="width: 100%;">
    <%= link_to "LOG IN", login_path, class:"home-btn-blue", style:"width: 100%;" %>
    <%= link_to 'SIGN UP', new_user_path, class: 'text-decoration-none', style: 'color: #9a9fa5;' %>
  </div>
</div>