// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@media (min-width: 100px) and (max-width: 767px) {
  .allgroups-container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#346f0a, #468916, #679b42, #97b97e);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .allgroups-dropdown {
    margin-top: 20px;
  }

  .allgroups-dropdown .dropbtn {
    font-size: 25px;
  }

  .allgroups-dropdown .dropdown-content {
    margin-left: 25px;
  }

  .no-groups {
    font-size: 40px;
    position: relative;
    top: -30px;
  }

  .group_add_new {
    width: 100%;
    height: 90px;
    background: #fff;
    display: flex;
    justify-content: center;
    padding: 15px 0;
  }

  .group_new_btn {
    width: 90%;
    border: 2px solid #5fb523;
    font-weight: bold;
    color: #5fb523;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .group_new_bt:hover {
    background: #72b841;
  }

  .group-settings {
    position: relative;
    top: -100px;
    height: 150px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    font-size: 18px;
    border: 2px solid red;
  }

  .group-setting-item {
    display: flex;
    align-items: flex-start;
    border: 2px solid white;
  }

  .allgroups_icon{
    font-size: 10px;
    padding: 5px 6px;
    border: 1px solid #fff;
    border-radius: 50%;
    border: 3px solid blue;
  }

  .group-settings p {
    
  }

  .group-name_date {
    display: flex;
    flex-direction: column;
    height: 50px;
    border: 1px blue solid;
  }

  .group-icons-field {
    width: 50%;
    height: 50px;
    font-size: 15px;
  }
}