<div class="no-exercises my-auto mx-auto text-center">
<span class=""><%= current_user.name if logged_in? %></span> <!--Just for showing current user, remove later-->
  <h4 class="">Nothing to show</h4>
  <i class="far fa-sad-tear"></i>
</div>