<div class="dropdown">
  <button class="dropbtn"><i class="fas fa-bars"></i></button>
  <div class="dropdown-content">
    <%= link_to 'My Profile', user_path(current_user.id) %>
    <%= dropdown_two %>
    <%= dropdown_three %>
    <%= dropdown_four %>
  </div>
</div>
