<div class="dropdown">
  <button class="dropbtn"><i class="fas fa-bars"></i></button>
  <div class="dropdown-content">
    <%= dropdown_one %>
    <%= dropdown_two %>
    <%= dropdown_three %>
    <%= dropdown_four %>
  </div>
</div>
