<div class="dropdown">
  <button class="dropbtn"><i class="fas fa-bars"></i></button>
  <div class="dropdown-content">
    <%= link_to 'My Profile', user_path(current_user.id) %>
    <%= link_to 'My External Exercises', external_exercises_path %>
    <%= link_to 'All Groups', groups_path %>
  </div>
</div>
