<%= render 'layouts/navbar' %>
<div class="myexercises-container">
  <%= check_indexnogroup_empty %>
</div>
<div class="exercise_add_new">
  <%= link_to "ADD NEW EXERCISE", new_exercise_path, class: 'exercise_new_btn text-decoration-none text-light' %>
</div>