<nav class="navbar-container">
  <div class="nav-logged-three">
    <%= nav_check_icon %>
    <p class="nav-title mt-3 text-center" style="width: 150px;"><%= nav_logged_title %></p>
    <div class="nav-login-name">    
      <%= nav_show_logoutbtn %>
    </div>
  </div>
</nav>