<nav class="navbar-container">
  <div class="nav-logged-three">
    <%= nav_check_icon %>
    <p class="mt-3 text-center" style="width: 150px;"><%= nav_logged_title %></p>
    <div class="nav-login-name">
      <h6><%= nav_logged_right %></h6>
      <%= nav_show_logoutbtn %>
    </div>
  </div>
</nav>