<nav class="navbar-notlogged">
  <div class="nav-notlogged-arrow">
    <% if current_page?(controller: 'exercises', action: 'index') ||
        current_page?(controller: 'exercises', action: 'index_nogroup') %>
      <div class="dropdown">
        <button class="dropbtn">
          <i class="fas fa-bars"></i>
        </button>
        <div class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div>
    <% else %>
      <%= nav_logged_icon %>
    <% end %>
    <%= nav_logged_title %>
  <div>
  <h6 class="nav-logged-username"><%= nav_logged_right %><h6>
</nav>