<nav class="navbar-container">
  <div class="nav-left-container" style="width: 28%;">
    <div style="width: 25%;"><%= nav_check_icon %></div>
  </div>
  <div class="nav-middle-container" style="width: 44%;">
    <p class="nav-title" style="width: 50%;"><%= nav_logged_title %></p>
  </div>
  <div class="nav-right-container" style="width: 28%;">
    <div class="nav-logout-btn"><%= nav_show_logoutbtn %></div>
  </div>
</nav>